@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1A0B2E;
    font-family: 'Inter', sans-serif;
}

.hero {
    width: 100%;
    max-width: 1600px;
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .hero { padding-bottom: 101px; }
}

.About {
    width: 100%;
    max-width: 1600px;
    background-color: #1A0B2E;
    text-align: center;
}

.about-title {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.about-title p {
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px rgb(51, 50, 50);
}

@media (min-width: 768px) {
    .about-title p {
        margin-bottom: 80px;
        padding: 0 55px 80px 55px;
    }
}

.rating {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px 60px 20px;
}

@media (min-width: 768px) {
    .rating {
        justify-content: space-around;
        padding: 0 100px 120px 100px;
    }
}

.why-choose {
    background-color: #230E3D;
    width: 100%;
    max-width: 1600px;
    justify-content: center;
}

.videos {
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    text-align: left;
    justify-content: center;
    padding-bottom: 60px;
}

.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #230E3D;
    border-radius: 25px;
    padding: 20px;
}

@media (min-width: 768px) {
    .host {
        flex-direction: row;
        padding: 40px;
        width: 100%;
    }
}

.footer-section {
    background-image: url('assets/footer-bg.png');
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    padding: 60px 20px;
}

@media (min-width: 768px) {
    .footer-section { padding: 142px; }
}