.hero{
    width: 100%;
    max-width: 1600px;
    background-image: url(assets/hero-bg.png);
    justify-items: center;
    text-align: center;
    padding-bottom: 101px;
}
.hero-details h1{
    font-size: 60px;
    font-weight: bold;
    color: White;
}
.About{
    width: 100%;
    max-width: 1600px;
    background-color: #1A0B2E;
    text-align: center;
}
.about-title{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.about-title h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
    margin-bottom: 16px;
}
.about-title p{
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 16px;
    padding: 0 55px;
    margin-bottom: 80px;
    border-bottom: solid 1px rgb(51, 50, 50);
    padding-bottom: 80px;
}
.rating{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0 100px;
    padding-bottom: 120px;
}
.why-choose{
    background-color: #230E3D;
    width: 100%;
    max-width: 1600px;
    justify-content: center;
}
.videos{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    text-align: left;
    justify-content: center;
    padding: 0 auto;
}
.video-section{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 120px;
}